      </div>

      <%- include('_toasts') -%>
      <%- include('_modals', {
        extra_classes: locals.modals_extra_classes
      }) -%>
    </div>
    <%- include('_scripts') -%>
  </body>
</html>
