<div class="col-md-12 col-lg-4">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="results-tab" data-toggle="tab" role="tab" href="#results-tab-pane"  aria-controls="results-tab" aria-selected="true">
        <span class="oi oi-beaker"></span>
        Results
      </a>
      <a class="nav-item nav-link" id="logger-tab" data-toggle="tab" role="tab" href="#logger-tab-pane"  aria-controls="logger-tab" aria-selected="true">
        <span class="oi oi-list"></span>
        Logs
      </a>
    </div>
  </nav>

  <div class="tab-content" id="results-tab-content">
    <div id="results-tab-pane" role="tabpanel" class="tab-pane fade show active">
      <div class="form-group">
        <textarea cols="80" rows="20" id="query-output" class="results-output form-control" placeholder="Debug output will be displayed here" disabled></textarea>
      </div>
    </div>

    <div id="logger-tab-pane" role="tabpanel" class="tab-pane fade">
      <div class="form-group">
        <div id="logger-output" class="logger-output results-output form-control">
          <ul></ul>
        </div>
        <button class="btn btn-sm btn-link" id="logger-clear">Clear log</button>
      </div>
    </div>
  </div>
</div>
