<div id="ga-goals">
  <h5>
    <img src="/images/adminhome_remarketing.png">
    Goal Definition
  </h5>
  <div class="form-group">
    <div class="input-group">
      <input type="text" id="ga-goal-name" class="form-control" placeholder="Goal Name" />
    </div>
  </div>
</div>
