<div class="form-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="<%= id %>" accept=".csv" />
    <label for="<%= id %>" class="custom-file-label"><%= title %></label>
  </div>
</div>
