<div class="row">
  <div class="col">
    <h5>
      <span class="<%= icon %>"></span>
      <%= title %>
      <a class="badge badge-primary" href="<%= link %>">
        Edit
        <span class="oi oi-external-link"></span>
      </a>
    </h5>
    <div id="<%= id %>-table-wrapper"></div>
  </div>
</div>
